.rolls {
  border: solid 10px black;
  width: 200px;
  margin:100px;
  text-align: left;

}
div.dice span :first-child {
  text-align: left;
  }
.dice {
  border: solid 10px black;
  width: 200px;
  margin:100px;
  text-align: right;
} 
div.rolls span :last-child {
text-align: right;
}